:root {
    --primary: #1D3557;
    --secondary: #457B9D;
    --light-secondary: #558BAD;
    --light: #A8DADC;
    --light-trans: #A8DADC55;
    --lighter: #F1FAEE;
    --alt: #E63946;
    --shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
    color: #0D2547;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

h2, h3 {
    color: var(--alt);
}

a {
    color: var(--light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, select {
    margin-right: 1em;
    padding: .5em;
}

button {
    background-color: var(--secondary);
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: .5em 1em;
    margin: .1em;
}

button.alt {
    background-color: var(--alt);
}

button[disabled] {
    background-color: grey;
    cursor: default;
}

nav a:hover {
    text-decoration: none;
    background-color: var(--light-secondary);
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form > * {
    margin-bottom: 1em;
}

table {
    width: 100%;
    text-align: left;
}

.header-row .schedule-cell, thead {
    color: white;
    background-color: var(--alt);
    font-weight: bold;
    font-size: 1rem;
}

.schedule-cell, th, td {
    padding: .2em;
}

.class-row, tbody > tr {
    cursor: pointer;
}

.class-row:hover, tbody > tr:hover {
    background-color: var(--light-trans);
}

.selected {
    background-color: var(--light);
}

.alert {
    font-weight: bold;
    text-align: center;
    color: var(--primary);
    background-color: var(--light);
    padding: .5em;
    opacity: .8;
}

.error {
    background-color: var(--alt);
    color: white;
}

.toolbar {
    margin: .5em;
}

.card {
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.flex {
    display: flex;
}

.header-row .schedule-cell {
    border-right: 2px solid white;
}

.day-row {
    width: 95vw;
    border-bottom: 1px dashed #E63946;
}
