:root {
    --primary: #1D3557;
    --secondary: #457B9D;
    --light-secondary: #558BAD;
    --light: #A8DADC;
    --light-trans: #A8DADC55;
    --lighter: #F1FAEE;
    --alt: #E63946;
    --shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
    color: #0D2547;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

h2, h3 {
    color: var(--alt);
}

nav {
    background-color: var(--secondary);
    box-shadow: var(--shadow);
}   

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav a:hover {
    text-decoration: none;
    background-color: var(--light-secondary);
}

main {
    min-height: 85vh;
}

form {
    max-width: 600px;
    background-color: #F9F9F9;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
}

form > * {
    width: 45%;
}

a {
    color: var(--light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, select {
    padding: .5rem;
    margin: .5rem;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #AAA;
    width: 10rem;
    float: right;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: var(--secondary);
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin: .1rem;
}

button.alt {
    background-color: var(--alt);
}

button[disabled] {
    background-color: grey;
    cursor: default;
}

table {
    width: 100%;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header-row .schedule-cell, thead {
    color: white;
    background-color: var(--alt);
    font-weight: bold;
    font-size: 1rem;
}

.schedule-cell, th, td {
    padding: .2em;
}

.class-row, tbody > tr {
    cursor: pointer;
}

.class-row:hover, tbody > tr:hover {
    background-color: var(--light-trans);
}

.selected {
    background-color: var(--light);
}

.alert {
    font-weight: bold;
    text-align: center;
    color: var(--primary);
    background-color: var(--light);
    padding: .5em;
    opacity: .8;
}

.error {
    background-color: var(--alt);
    color: white;
}

.toolbar {
    margin: .5em;
}

.card {
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.flex {
    display: flex;
}

.header-row .schedule-cell {
    border-right: 2px solid white;
}

.day-row > .schedule-cell {
    align-items: center;
    background-color: var(--lighter);
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: center;
    
}

#student-table tr {
    border-bottom: 1px solid #AAA;
    cursor: default;
}

#student-table tr:last-child {
    border: none;
}

#student-table th {
    width: 40%;
}

.classes-cell {
    width: 82%;
}

@media screen and (max-width: 576px) {
    form {
	flex-direction: column;
	align-items: center;
	max-width: 300px;
    }

    footer {
	position: static;
	margin-top: 2rem;
    }

    .resp-flex {
	flex-direction: column;
    }

    .resp-flex > * {
	width: 100% !important;
    }

    .header-row > .schedule-cell:first-child {
	width: 10vw !important;
    }

    .header-row > .schedule-cell:nth-child(2) {
	width: 25vw !important;
    }

    .header-row > .schedule-cell:nth-child(3) {
	width: 12vw !important;
    }

    .header-row > .schedule-cell:nth-child(4) {
	width: 16vw !important;
    }

    .day-row > .schedule-cell {
	writing-mode: vertical-lr;
	width: 10vw !important;
    }
    
    .class-row > .schedule-cell:first-child {
	width: 25vw !important;
    }

    .class-row > .schedule-cell:nth-child(2) {
	width: 12vw !important;
    }

    .class-row > .schedule-cell:nth-child(3) {
	width: 16vw !important;
    }
    
}

@media screen and (min-width: 1000px) {
    div#admin-view {
	display: flex;
	height: 85vh;
    }

    #admin-view > div {
	overflow-y: scroll;
    }

    nav {
	flex-basis: 20%;
    }

    nav > ul {
	flex-direction: column;
    }

    nav > ul > a {
	border-bottom: 1px dotted var(--light);
    }
}
